
DATABASE=mongodb+srv://JustUzair:<PASSWORD>@cluster0.6v3zt0l.mongodb.net/test
DATABASE_PASSWORD=Test%4012345
PORT=3000

JWT_SECRET=Uzair@8805Nmjkio@8805Iojknm@8805
JWT_EXPIRES_IN=90d
JWT_COOKIE_EXPIRES_IN=90

EMAIL_USERNAME=b780a9a16ce4b5
EMAIL_PASSWORD=1a86daba101d0e
EMAIL_HOST=smtp.mailtrap.io
EMAIL_PORT=2525


EMAIL_FROM=justuzairsaiyed@gmail.com

SENDGRID_USERNAME=apikey
SENDGRID_PASSWORD=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



